@font-face {
  font-family: "Jim Nightshade";
  src: url("./fonts/JimNightshade-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* { box-sizing: border-box; }

body {
  font-family: "Jim Nightshade";
  font-size: 1.5em;
  background-color: #e3b6b6;
  margin: 1em;
  padding: 1em;
}

.card {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffeded;
  border: 1px dashed #050505;
  border-radius: 10px;
}

h1, p {
  text-align: center;
  margin: 0 2px;
}

h1 {
  font-size: 60px;
}
